/* * = select all elements */
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

header {
  background-color: #151515;
  color: white;
  padding: 10px 0px;
}

/* we can use classes multiple times on html template */
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#logo {
  width: 29%;
  float: left;
}
#logo img {
  max-width: 200px;
}
nav {
  width: 40%;
  float: right;
  margin-top: 20px;
}
nav ul {
  /* margin-left: 48%; */
}
nav ul li {
  float: left;
  margin-right: 10px;
  list-style-type: none;
  font-size: 18px;
}
nav ul li:last-child {
  margin-right: 0px;
}
/* 
even number = 2,4,6,8
odd number  = 1,3,5,7,9

*/
nav ul li:nth-child(even) {
  color: green;
}
#main-image {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
  color: white;
  /* padding se height nai baregi */
  box-sizing: border-box;
}

#main-image h1 {
  font-size: 44px;
}
#main-image h3 {
  margin: 20px 0px;
  font-weight: 100;
}
#main-image button {
  background: #41a308;
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
}

#services-container {
  margin-top: 20px;
}
.service-item {
  float: left;
  width: 30%;
  margin-right: 5%;
  text-align: center;
  color: #888888;
}
.service-item:last-child {
  margin-right: 0px;
}
.service-item h3 {
  margin: 10px 0px;
}
.service-item p {
}
.common-section {
  margin: 50px 0px;
}
.common-section hr {
  margin-top: -18px;
}
.common-section button {
  background-color: #008000;
  color: white;
  padding: 10px 35px;
  border: none;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
  font-weight: 600;
  min-width: 240px;
}
#client-profile {
  width: 32%;
  float: left;
}
#client-content {
  width: 65%;
  float: right;
  color: #888888;
  font-style: italic;
}

#client-reviews img {
  width: 100%;
}
#client-content img {
  width: 45px;
  margin-bottom: 20px;
}
footer img {
  width: auto;
}
#footer-fist-item {
  width: 45%;
  float: left;
  color: #888888;
}
#footer-second-item {
  width: 45%;
  float: right;
  text-align: right;
}
#footer-fist-item p {
  position: relative;
}
#footer-fist-item p span {
  position: absolute;
  top: 8px;
}
#footer-social-icons {
  margin-top: 90px;
}

@media (max-width: 1250px) {
  nav,
  nav ul li,
  #logo,
  .service-item,
  #client-profile,
  #client-content,
  #footer-fist-item,
  #footer-second-item {
    float: none;
    width: 100%;
    text-align: center;
  }
  #main-image {
    background-size: cover;
  }
  #footer-fist-item p {
    text-align: left;
    margin-left: 80px;
  }
  #footer-social-icons {
    margin: 40px 0px;
  }
}
